<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         C:\Users\garre\OneDrive\Documents\NetBeansProjects\mycart\src\main\webapp\image\
      </param-value>
    </context-param>
    -->
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         mycart\\src\\main\\webapp\\image\\
      </param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanySelectServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.CompanySelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropDownServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.DropDownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDropDownServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.AdminDropDownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.SendMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticeServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.NoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveOrderServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.SaveOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveOrderServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.ApproveOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLocationServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.AddLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportToExcelServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.ImportToExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.AddItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestUploadServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.TestUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDropDownServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.PDropDownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADropDownServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.ADropDownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CDropDownServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.CDropDownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IDropDownServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.IDropDownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>L_OrderServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.L_OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>A_OrderServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.A_OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemReportServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.ItemReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.CServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItem</servlet-name>
        <servlet-class>com.learn.mycart.servlets.UpdateItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSDS</servlet-name>
        <servlet-class>com.learn.mycart.servlets.UpdateSDS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IDropDownPharmServlet</servlet-name>
        <servlet-class>com.learn.mycart.servlets.IDropDownPharmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanySelectServlet</servlet-name>
        <url-pattern>/CompanySelectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropDownServlet</servlet-name>
        <url-pattern>/DropDownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDropDownServlet</servlet-name>
        <url-pattern>/AdminDropDownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailServlet</servlet-name>
        <url-pattern>/SendMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticeServlet</servlet-name>
        <url-pattern>/NoticeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveOrderServlet</servlet-name>
        <url-pattern>/SaveOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveOrderServlet</servlet-name>
        <url-pattern>/ApproveOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLocationServlet</servlet-name>
        <url-pattern>/AddLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportToExcelServlet</servlet-name>
        <url-pattern>/ImportToExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemServlet</servlet-name>
        <url-pattern>/AddItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestUploadServlet</servlet-name>
        <url-pattern>/TestUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDropDownServlet</servlet-name>
        <url-pattern>/PDropDownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADropDownServlet</servlet-name>
        <url-pattern>/ADropDownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CDropDownServlet</servlet-name>
        <url-pattern>/CDropDownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IDropDownServlet</servlet-name>
        <url-pattern>/IDropDownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>L_OrderServlet</servlet-name>
        <url-pattern>/L_OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>A_OrderServlet</servlet-name>
        <url-pattern>/A_OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemReportServlet</servlet-name>
        <url-pattern>/ItemReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CServlet</servlet-name>
        <url-pattern>/CServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItem</servlet-name>
        <url-pattern>/UpdateItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSDS</servlet-name>
        <url-pattern>/UpdateSDS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IDropDownPharmServlet</servlet-name>
        <url-pattern>/IDropDownPharmServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
